@font-face {
  font-family: "digitalClassic-Regular";
  src: url("./DSEG7Classic-Regular.ttf");
}

* {
  margin: 0;
  padding: 0;
  font-family: "digitalClassic-Regular", sans-serif;
}

.App {
  height: 100dvh;
  width: auto;
  background-image: url("./ocean-bg.png");
}

.container {
  height: 100%;
  display: flex;
  justify-content: center;
}

.time {
  color: hsl(208, 100%, 97%, 0.9);
  margin-top: 10%;
  font-size: 60px;
  font-weight: 700;
}
